# IDEs directories
.idea/
.vscode/
.vs/

# build
build/

# other
libs/
neural-network/mock/logs

# files
**/*.csv
**/*.nntv
**/*.nnv
decoder/Decoded.h

# Nvidia project
neural-network/mock/ncu-logs
Neural Network.ncu-proj